.price {
  &__text {
    font-size: 20px;
    font-weight: 700;
    color: $gray;
  }

  span {
    font-size: 24px;
    color: $primary;
  }

  &--big {
    .price__text {
      font-size: 47.14px;

      span {
        font-size: 56.57px;
      }
    }
  }
}