.price {
  &__text {
    font-size: 20px;
    font-weight: 700;
    color: $gray;

    @include r($mobile) {
      font-size: 13.97px;
      line-height: 13.97px;
    }
  }

  span {
    font-size: 24px;
    color: $primary;
    @include r($mobile) {
      font-size: 16.77px;
      line-height: 16.77px;
    }
  }

  &--big {
    .price__text {
      font-size: 47.14px;
      line-height: 1;

      span {
        font-size: 56.57px;
      }
    }
  }
}