.editor {
  h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
  }

  ul {
    list-style-type: '-';
    list-style-position: inside;

    li {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      color: $gray;
    }
  }

  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: $gray;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  img {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}