.article-service {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px 31px 60px 40px;
  border-radius: 25px 25px 0 25px;
  background-color: $white;
  transition: .2s linear;

  @include r($mobile) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 22px 20px;
    border-radius: 20px;
  }

  &:hover {
    box-shadow: -40px 40px 100px 0px #1B7C5F2B;
  }

  &--row {
    flex-direction: row;
    align-items: center;
    padding: 43px 40px;

    @include r($mobile) {
      gap: 20px;
      padding: 22px 20px;
      border-radius: 20px;
    }

    .article-service__picture {
      flex-shrink: 0;
      margin-bottom: 0;
      width: 62px;
      margin-right: 50px;

      @include r($mobile) {
        width: 30px;
        margin-right: 0;
      }
    }

    .article-service__title {
      flex-shrink: 0;
      margin-bottom: 0;
      width: 300px;
      margin-right: 50px;
      text-transform: uppercase;

      @include r($mobile) {
        flex-shrink: 1;
        width: auto;
        margin-right: 0;
      }
    }

    .article-service__text {
      flex-grow: 1;
    }
  }

  &__picture {
    display: flex;
    flex-shrink: 0;
    width: auto;
    height: 52px;
    margin-bottom: 33px;

    @include r($mobile) {
      margin-bottom: 0;
      width: 30px;
      height: 28px;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;

    @include r($mobile) {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 1;
    }
  }

  &__text {
    line-height: 24px;
    color: $gray;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    @include r($mobile) {
      display: none;
    }
  }
}