.article-service {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px 31px 60px 40px;
  border-radius: 25px 25px 0 25px;
  background-color: $white;

  &--row {
    flex-direction: row;
    align-items: center;
    padding: 43px 40px;

    .article-service__picture {
      flex-shrink: 0;
      margin-bottom: 0;
      width: 62px;
      margin-right: 50px;
    }

    .article-service__title {
      flex-shrink: 0;
      margin-bottom: 0;
      width: 300px;
      margin-right: 50px;
      text-transform: uppercase;
    }

    .article-service__text {
      flex-grow: 1;
    }
  }

  &__picture {
    display: flex;
    width: auto;
    height: 52px;
    margin-bottom: 33px;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  &__text {
    line-height: 24px;
    color: $gray;
  }
}