.product-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0;
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
  }

  &__product,
  &__item {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: $gray;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    .product-page__list {
      width: 50%;

      @include r($mobile) {
        width: 100%;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__item {
    display: flex;
    span {
      &:first-child {
        display: flex;
        align-items: baseline;
        flex-grow: 1;
        &::after {
          content: '';
          display: flex;
          flex-grow: 1;
          width: 100%;
          height: auto;
          border-bottom: 1px dashed $gray;
        }
      }
    }
  }
}