.slider {
  position: relative;

  &--preview {
    border-radius: 30px;
    overflow: hidden;
  }
  &--thumbs {
    .swiper-slide {
      width: 220px;
      height: 115px;
      border-radius: 20px;
      overflow: hidden;
    }
  }

  &--auto {
    .swiper-slide {
      @include r($mobile) {
        max-width: 240px;
      }
    }
  }

  &--intro {
    margin-left: -145px;
    margin-right: -145px;

    @include r($mobile) {
      margin-left: -24px;
      margin-right: -24px;
    }

    .swiper {
      overflow: visible;
    }

    .swiper-pagination {
      bottom: 60px !important;

      @include r($mobile) {
        bottom: 38px !important;
      }
    }
  }

  &--visible {
    .swiper {
      overflow: visible;
    }
  }

  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    &-bullet {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 10px;
      height: 10px;
      background-color: $gray-light;
      opacity: 1;

      &-active {
        background-color: $primary-accent;

        &::before {
          content: '';
          flex-shrink: 0;
          width: 16px;
          height: 16px;
          border-radius: 50px;
          border: 1px solid $primary-accent;
        }
      }
    }
  }
}