.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  border: 1px solid $white;
  transition: .2s linear;

  &--dark {
    border-color: $gray;
  }

  &::before {
    content: '';
    display: flex;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: $primary;
    opacity: 0;
    transition: .2s linear;
  }

  &:checked {
    &::before {
      opacity: 1;
    }
  }
}