// Colors
$white: #fff;
$gray: #93969d;
$gray-light: #D9D9D9;
$gray-white: #F9F9F9;
$gray-blue: #8A94A0;
$primary: #2d4a45;
$light: #fff7db;
$primary-accent: #1ec996;
$primary-light: #D3F7EC;
$red: #EB5757;

// Fonts
$font-main: 'Nunito', sans-serif;
$font-accent: 'Manrope', sans-serif;

$mobile: 1200;