<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section pt-50 pb-40 pbm-30">
        <div class="container">
            <div class="page-header mb-80 mbm-30">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Главная</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span class="breadcrumbs__link breadcrumbs__link--current">О мастерской</span>
                        </li>
                    </ul>
                </div>
                <h1 class="title">О мастерской</h1>
                <img class="page-header__background" src="./assets/images/about-img.jpg" alt="">
            </div>
            <div class="about">
                <div class="columns mb-60 mbm-50">
                    <div class="columns__col--3">
                        <div class="about__item">
                            <p class="about__value">26</p>
                            <p class="about__text">спроектировано<br/>объектов</p>
                        </div>
                    </div>
                    <div class="columns__col--3">
                        <div class="about__item">
                            <p class="about__value">15</p>
                            <p class="about__text">реализовано<br/>объектов</p>
                        </div>
                    </div>
                    <div class="columns__col--3">
                        <div class="about__item">
                            <p class="about__value">16</p>
                            <p class="about__text">участков на<br/>сервисном уходе</p>
                        </div>
                    </div>
                    <div class="columns__col--3">
                        <div class="about__item">
                            <p class="about__value">&gt;5000</p>
                            <p class="about__text">гроубэгов<br/> сшито</p>
                        </div>
                    </div>
                </div>
                <p class="about__description">
                    Простота ухода для нас важна, потому что мы много лет ухаживаем за уличными и комнатными растениями,
                    занимаясь сервисным обслуживанием.
                    Испытав на практике то, как некоторые проектные решения себя ведут во время и после реализации, мы
                    закладываем необходимый функционал в каждый элемент благоустройства и озеленения при проектировании.
                </p>
            </div>
        </div>
    </section>
    <section class="section pb-40 pbm-0">
        <div class="container">
            <div class="masters">
                <div class="masters__info">
                    <div class="head mb-30 mbm-30 mob-hidden">
                        <div class="head__info">
                            <p class="subtitle">наша команда</p>
                            <h2 class="title">Мастера</h2>
                        </div>
                    </div>
                    <div class="masters__list">
                        <div class="masters__item">
                            <h3 class="masters__title">Анна Кудрявцева</h3>
                            <p class="masters__description">Ландшафтный архитектор</p>
                        </div>
                        <div class="masters__item">
                            <h3 class="masters__title">Юрий Семёнов</h3>
                            <p class="masters__description">Руководитель отдела озеленения и ухода</p>
                        </div>
                    </div>
                    <p class="masters__text mob-hidden">
                        создаём комфортное и удобное<br/>
                        в эксплуатации пространство
                    </p>
                </div>
                <picture class="masters__picture picture">
                    <img src="./assets/images/people.jpg" alt="">
                </picture>
            </div>
        </div>
    </section>
    <section class="section pt-40 ptm-30 pb-40">
        <div class="container">
            <div class="head mb-55 mbm-30">
                <div class="head__info">
                    <p class="subtitle">портфолио</p>
                    <h2 class="title">проекты</h2>
                </div>
                <a class="button visually-hidden" href="#">Все проекты</a>
            </div>
            <div class="gallery">
                <div class="gallery__item">
                    <picture class="gallery__picture">
                        <img src="./assets/images/gallery-1.jpg" alt="">
                    </picture>
                    <div class="gallery__blackout">
                        <svg class="gallery__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                        </svg>
                    </div>
                </div>
                <div class="gallery__item">
                    <picture class="gallery__picture">
                        <img src="./assets/images/gallery-2.jpg" alt="">
                    </picture>
                    <div class="gallery__blackout">
                        <svg class="gallery__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                        </svg>
                    </div>
                </div>
                <div class="gallery__item gallery__item--small">
                    <picture class="gallery__picture">
                        <img src="./assets/images/gallery-3.jpg" alt="">
                    </picture>
                    <div class="gallery__blackout">
                        <svg class="gallery__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                        </svg>
                    </div>
                </div>
                <div class="gallery__item gallery__item--small">
                    <picture class="gallery__picture">
                        <img src="./assets/images/gallery-4.jpg" alt="">
                    </picture>
                    <div class="gallery__blackout">
                        <svg class="gallery__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                        </svg>
                    </div>
                </div>
                <div class="gallery__item gallery__item--big">
                    <picture class="gallery__picture">
                        <img src="./assets/images/gallery-6.jpg" alt="">
                    </picture>
                    <div class="gallery__blackout">
                        <svg class="gallery__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                        </svg>
                    </div>
                </div>
                <div class="gallery__item gallery__item--big">
                    <picture class="gallery__picture">
                        <img src="./assets/images/gallery-7.jpg" alt="">
                    </picture>
                    <div class="gallery__blackout">
                        <svg class="gallery__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                        </svg>
                    </div>
                </div>
                <div class="gallery__item gallery__item--full">
                    <picture class="gallery__picture">
                        <img src="./assets/images/gallery-5.jpg" alt="">
                    </picture>
                    <div class="gallery__blackout">
                        <svg class="gallery__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                        </svg>
                    </div>
                </div>
                <div class="gallery__item">
                    <picture class="gallery__picture">
                        <img src="./assets/images/gallery-8.jpg" alt="">
                    </picture>
                    <div class="gallery__blackout">
                        <svg class="gallery__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                        </svg>
                    </div>
                </div>
                <div class="gallery__item">
                    <picture class="gallery__picture">
                        <img src="./assets/images/gallery-9.jpg" alt="">
                    </picture>
                    <div class="gallery__blackout">
                        <svg class="gallery__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                        </svg>
                    </div>
                </div>
                <div class="gallery__item gallery__item--full-big">
                    <picture class="gallery__picture">
                        <img src="./assets/images/gallery-10.jpg" alt="">
                    </picture>
                    <div class="gallery__blackout">
                        <svg class="gallery__icon">
                            <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <a href="#" class="button button--mobile-wide visually-hidden mtm-20">Все проекты</a>
            <div class="columns mtm-30">
                <div class="columns__col--3">
                    <div class="features">
                        <article class="article-feature">
                            <picture class="article-feature__picture">
                                <img src="./assets/images/icon-doc.svg" alt="">
                            </picture>
                            <p class="article-feature__text">
                                Работаем по договору.
                                Без выходных.
                            </p>
                        </article>
                        <article class="article-feature">
                            <picture class="article-feature__picture">
                                <img src="./assets/images/icon-medal.svg" alt="">
                            </picture>
                            <p class="article-feature__text">
                                Мы гарантируем качество выполненных работ и профессиональный сервис.
                            </p>
                        </article>
                        <article class="article-feature">
                            <picture class="article-feature__picture">
                                <img src="./assets/images/icon-tree.svg" alt="">
                            </picture>
                            <p class="article-feature__text">
                                Обращайтесь к нам,
                                и ваш сад будет выглядеть великолепно!
                            </p>
                        </article>
                    </div>
                </div>
                <div class="columns__col--9">
                    <div class="form-block">
                        <div class="form-block__info">
                            <h3 class="form-block__title">
                                Не нашли
                                нужную услугу или есть вопросы?
                            </h3>
                            <p class="form-block__text">
                                Заполните форму заявки и мы рассмотрим ваш запрос
                            </p>
                        </div>
                        <form class="form" action="#">
                            <fieldset class="form__wrapper">
                                <label class="form__item">
                                    <input class="input input--form" type="text" placeholder="Введите имя">
                                    <span class="form__legend">Имя</span>
                                </label>
                                <label class="form__item">
                                    <input class="input input--form" type="text" placeholder="+7-000-000-00-00">
                                    <span class="form__legend">Телефон</span>
                                </label>
                            </fieldset>
                            <fieldset class="form__wrapper">
                                <label class="form__item">
                                    <textarea class="input input--form" placeholder="Введите ваш вопрос"></textarea>
                                    <span class="form__legend">Вопрос</span>
                                </label>
                            </fieldset>
                            <div class="form__footer">
                                <button class="button" type="submit">Отправить</button>
                                <label class="form__accept">
                                    <input class="checkbox" type="checkbox">
                                    <span>
                                        Я согласен с правилами обработки персональных данных и ознакомлен с <a
                                            href="#" target="_blank">Политикой конфидециальности</a>
                                    </span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--accent pt-70 ptm-30 pb-70 pbm-40">
        <div class="container">
            <div class="head head--light mb-55 mbm-40">
                <div class="head__info">
                    <p class="subtitle">о нас говорят</p>
                    <h2 class="title">Отзывы</h2>
                </div>
            </div>
            <div class="slider slider--auto slider--visible" data-slider data-slider-slides="3">
                <div class="swiper">
                    <div class="swiper-wrapper pb-80 pbm-40">
                        <div class="swiper-slide">
                            <article class="article-feedback">
                                <time class="article-feedback__date" datetime="2021.10.14">14.10.21</time>
                                <h3 class="article-feedback__title">ООО “Компаниия”</h3>
                                <p class="article-feedback__text">
                                    Классический текст Lorem Ipsum, используемый с XVI
                                    века "Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                                    Классический текст Lorem Ipsum, используемый с XVI
                                    века "Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                                </p>
                                <a href="#" class="show-more">Читать весь отзыв</a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-feedback">
                                <time class="article-feedback__date" datetime="2021.10.14">14.10.21</time>
                                <h3 class="article-feedback__title">ООО “Компаниия”</h3>
                                <p class="article-feedback__text">
                                    Классический текст Lorem Ipsum, используемый с XVI
                                    века "Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                                    Классический текст Lorem Ipsum, используемый с XVI
                                    века "Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                                </p>
                                <a href="#" class="show-more">Читать весь отзыв</a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-feedback">
                                <time class="article-feedback__date" datetime="2021.10.14">14.10.21</time>
                                <h3 class="article-feedback__title">ООО “Компаниия”</h3>
                                <p class="article-feedback__text">
                                    Классический текст Lorem Ipsum, используемый с XVI
                                    века "Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                                    Классический текст Lorem Ipsum, используемый с XVI
                                    века "Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                                </p>
                                <a href="#" class="show-more">Читать весь отзыв</a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-feedback">
                                <time class="article-feedback__date" datetime="2021.10.14">14.10.21</time>
                                <h3 class="article-feedback__title">ООО “Компаниия”</h3>
                                <p class="article-feedback__text">
                                    Классический текст Lorem Ipsum, используемый с XVI
                                    века "Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                                    Классический текст Lorem Ipsum, используемый с XVI
                                    века "Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                                </p>
                                <a href="#" class="show-more">Читать весь отзыв</a>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-feedback">
                                <time class="article-feedback__date" datetime="2021.10.14">14.10.21</time>
                                <h3 class="article-feedback__title">ООО “Компаниия”</h3>
                                <p class="article-feedback__text">
                                    Классический текст Lorem Ipsum, используемый с XVI
                                    века "Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                                    Классический текст Lorem Ipsum, используемый с XVI
                                    века "Lorem ipsum dolor sit amet, consectetur adipiscing elit, se
                                </p>
                                <a href="#" class="show-more">Читать весь отзыв</a>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--gray pt-80 ptm-30 pb-65 pbm-40">
        <div class="container">
            <div class="head mb-55">
                <div class="head__info">
                    <p class="subtitle">наш уровень</p>
                    <h2 class="title">Сертификаты и Дипломы</h2>
                </div>
            </div>
            <div class="slider slider--auto slider--visible-mobile" data-slider data-slider-slides="4">
                <div class="swiper">
                    <div class="swiper-wrapper pb-80 pbm-40">
                        <div class="swiper-slide">
                            <article class="article-picture">
                                <picture class="article-picture__picture">
                                    <img src="./assets/images/sertificate.png" alt="">
                                </picture>
                                <div class="article-picture__blackout">
                                    <svg class="article-picture__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                    </svg>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-picture">
                                <picture class="article-picture__picture">
                                    <img src="./assets/images/sertificate.png" alt="">
                                </picture>
                                <div class="article-picture__blackout">
                                    <svg class="article-picture__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                    </svg>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-picture">
                                <picture class="article-picture__picture">
                                    <img src="./assets/images/sertificate.png" alt="">
                                </picture>
                                <div class="article-picture__blackout">
                                    <svg class="article-picture__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                    </svg>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-picture">
                                <picture class="article-picture__picture">
                                    <img src="./assets/images/sertificate.png" alt="">
                                </picture>
                                <div class="article-picture__blackout">
                                    <svg class="article-picture__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                    </svg>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-picture">
                                <picture class="article-picture__picture">
                                    <img src="./assets/images/sertificate.png" alt="">
                                </picture>
                                <div class="article-picture__blackout">
                                    <svg class="article-picture__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                    </svg>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-picture">
                                <picture class="article-picture__picture">
                                    <img src="./assets/images/sertificate.png" alt="">
                                </picture>
                                <div class="article-picture__blackout">
                                    <svg class="article-picture__icon">
                                        <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                    </svg>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>