<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section section--gray-gradient ptm-20 pb-75">
        <div class="container">
            <div class="breadcrumbs breadcrumbs--single mb-60 mbm-25">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Товары</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link breadcrumbs__link--current">Мешок/гроубэг для растений</span>
                    </li>
                </ul>
            </div>
            <div class="columns mb-40" data-load-content data-loading-count>
                <div class="columns__col--3" data-load-item>
                    <article class="article-product">
                        <div class="tag">
                            <span>Новинка</span>
                        </div>
                        <picture class="article-product__picture">
                            <img src="assets/images/product-3.png" alt="">
                        </picture>
                        <div class="article-product__content">
                            <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                            <div class="article-product__info">
                                <p class="article-product__size">10x200 мм</p>
                                <p class="article-product__value">10 л</p>
                                <div class="price">
                                    <p class="price__text"><span>500</span> ₽/шт</p>
                                </div>
                            </div>
                            <button class="button button--thin button--accent">подробнее</button>
                        </div>
                    </article>
                </div>
                <div class="columns__col--3" data-load-item>
                    <article class="article-product">
                        <div class="tag">
                            <span>Новинка</span>
                        </div>
                        <picture class="article-product__picture">
                            <img src="assets/images/product-3.png" alt="">
                        </picture>
                        <div class="article-product__content">
                            <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                            <div class="article-product__info">
                                <p class="article-product__size">10x200 мм</p>
                                <p class="article-product__value">10 л</p>
                                <div class="price">
                                    <p class="price__text"><span>500</span> ₽/шт</p>
                                </div>
                            </div>
                            <button class="button button--thin button--accent">подробнее</button>
                        </div>
                    </article>
                </div>
                <div class="columns__col--3" data-load-item>
                    <article class="article-product">
                        <div class="tag">
                            <span>Новинка</span>
                        </div>
                        <picture class="article-product__picture">
                            <img src="assets/images/product-3.png" alt="">
                        </picture>
                        <div class="article-product__content">
                            <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                            <div class="article-product__info">
                                <p class="article-product__size">10x200 мм</p>
                                <p class="article-product__value">10 л</p>
                                <div class="price">
                                    <p class="price__text"><span>500</span> ₽/шт</p>
                                </div>
                            </div>
                            <button class="button button--thin button--accent">подробнее</button>
                        </div>
                    </article>
                </div>
                <div class="columns__col--3" data-load-item>
                    <article class="article-product">
                        <div class="tag">
                            <span>Новинка</span>
                        </div>
                        <picture class="article-product__picture">
                            <img src="assets/images/product-3.png" alt="">
                        </picture>
                        <div class="article-product__content">
                            <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                            <div class="article-product__info">
                                <p class="article-product__size">10x200 мм</p>
                                <p class="article-product__value">10 л</p>
                                <div class="price">
                                    <p class="price__text"><span>500</span> ₽/шт</p>
                                </div>
                            </div>
                            <button class="button button--thin button--accent">подробнее</button>
                        </div>
                    </article>
                </div>
                <div class="columns__col--3" data-load-item>
                    <article class="article-product">
                        <div class="tag">
                            <span>Новинка</span>
                        </div>
                        <picture class="article-product__picture">
                            <img src="assets/images/product-3.png" alt="">
                        </picture>
                        <div class="article-product__content">
                            <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                            <div class="article-product__info">
                                <p class="article-product__size">10x200 мм</p>
                                <p class="article-product__value">10 л</p>
                                <div class="price">
                                    <p class="price__text"><span>500</span> ₽/шт</p>
                                </div>
                            </div>
                            <button class="button button--thin button--accent">подробнее</button>
                        </div>
                    </article>
                </div>
                <div class="columns__col--3" data-load-item>
                    <article class="article-product">
                        <div class="tag">
                            <span>Новинка</span>
                        </div>
                        <picture class="article-product__picture">
                            <img src="assets/images/product-3.png" alt="">
                        </picture>
                        <div class="article-product__content">
                            <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                            <div class="article-product__info">
                                <p class="article-product__size">10x200 мм</p>
                                <p class="article-product__value">10 л</p>
                                <div class="price">
                                    <p class="price__text"><span>500</span> ₽/шт</p>
                                </div>
                            </div>
                            <button class="button button--thin button--accent">подробнее</button>
                        </div>
                    </article>
                </div>
            </div>
            <button class="button centered" data-url="/analyses/?PAGEN_1=2" data-load-more>Показать ещё</button>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>