<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
    <section class="section section--gray-gradient ptm-20 pb-75">
        <div class="container">
            <div class="breadcrumbs breadcrumbs--single mb-60 mbm-25">
                <ul class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Главная</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Товары</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__link breadcrumbs__link--current">Мешок/гроубэг для растений</span>
                    </li>
                </ul>
            </div>
            <div class="columns mb-75 mbm-30">
                <div class="columns__col--12 desktop-hidden">
                    <div class="product-page">
                        <div class="product-page__intro">
                            <h1 class="title title--accent title--lower">Мешок/гроубэг для посадки растений</h1>
                            <p class="product-page__text">
                                Умные горшки, или по-другому гроубэги (англ. Grow Bag – сумка для выращивания) –
                                отличная
                                альтернатива привычным емкостям для выращивания зелени, плодово-ягодных растений или
                                цветов.
                            </p>
                        </div>
                        <div class="product-page__detail">
                            <h3 class="product-page__title">о товаре</h3>
                            <ul class="product-page__list">
                                <li class="product-page__item">
                                    <strong>Материал</strong>
                                    <span>Нетканное полотно</span>
                                </li>
                                <li class="product-page__item">
                                    <strong>Цвет</strong>
                                    <span>Чёрный</span>
                                </li>
                                <li class="product-page__item">
                                    <strong>Форма</strong>
                                    <span>Квадат</span>
                                </li>
                                <li class="product-page__item">
                                    <strong>Высота</strong>
                                    <span>30 см</span>
                                </li>
                                <li class="product-page__item">
                                    <strong>Ширина</strong>
                                    <span>20 см</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="columns__col--5 mbm-30">
                    <div class="columns__col--12" data-visible="circle">
                        <div class="slider slider--preview mb-20" id="slider-1" data-slider="thumbs">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-1" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-1" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-1" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-1" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider slider--thumbs">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns__col--12" data-visible="rectangle">
                        <div class="slider slider--preview mb-20" id="slider-2" data-slider="thumbs">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-2" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-2.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-2" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-2" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-2" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider slider--thumbs">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-2.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns__col--12" data-visible="circle" data-visible-pens>
                        <div class="slider slider--preview mb-20" id="slider-3" data-slider="thumbs">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-3" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666361504_9-mykaleidoscope-ru-p-peizazhi-prirodi-krasivo-9.jpg" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-3" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-3" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-3" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider slider--thumbs">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns__col--12" data-visible="rectangle" data-visible-pens>
                        <div class="slider slider--preview mb-20" id="slider-4" data-slider="thumbs">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-4" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="https://mykaleidoscope.ru/x/uploads/posts/2022-10/1666389910_3-mykaleidoscope-ru-p-klassnaya-priroda-oboi-3.jpg" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-4" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-4" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo article-photo--big" data-fancybox="slider-4" data-src="./assets/images/product-1.png">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                            <div class="article-photo__blackout">
                                                <svg class="article-photo__icon">
                                                    <use xlink:href="./assets/sprite/sprite.svg#icon-magnifier"></use>
                                                </svg>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider slider--thumbs">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-2.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                    <div class="swiper-slide">
                                        <article class="article-photo">
                                            <picture class="article-photo__picture">
                                                <img src="./assets/images/product-1.png" alt="">
                                            </picture>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns__col--1 mob-hidden"></div>
                <div class="columns__col--6">
                    <div class="product-page">
                        <div class="product-page__intro mob-hidden">
                            <h1 class="title title--accent title--lower">Мешок/гроубэг для посадки растений</h1>
                            <p class="product-page__text">
                                Умные горшки, или по-другому гроубэги (англ. Grow Bag – сумка для выращивания) –
                                отличная
                                альтернатива привычным емкостям для выращивания зелени, плодово-ягодных растений или
                                цветов.
                            </p>
                        </div>
                        <form class="product-page__form" action="#" data-form-intermediate>
                            <div class="product-page__info">
                                <div class="product-page__count">
                                    <div class="price price--big">
                                        <div class="price__text"><span data-final-price>500</span> ₽/шт</div>
                                    </div>
                                    <label>
                                        <input class="input" type="number" name="QUANTITY" max="200" data-quantity placeholder="введите количество">
                                    </label>
                                </div>
                                <div class="product-page__detail mob-hidden">
                                    <h3 class="product-page__title">о товаре</h3>
                                    <ul class="product-page__list">
                                        <li class="product-page__item">
                                            <strong>Материал</strong>
                                            <span>Нетканное полотно</span>
                                        </li>
                                        <li class="product-page__item">
                                            <strong>Цвет</strong>
                                            <span>Чёрный</span>
                                        </li>
                                        <li class="product-page__item">
                                            <strong>Форма</strong>
                                            <span data-param-shape>Квадрат</span>
                                        </li>
                                        <li class="product-page__item">
                                            <strong>Высота</strong>
                                            <span data-height>30 см</span>
                                        </li>
                                        <li class="product-page__item">
                                            <strong>Ширина</strong>
                                            <span data-width>20 см</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-filter mbm-30">
                                <div class="product-filter__top">
                                    <label class="product-filter__label">
                                        <input type="checkbox" name="PENS" hidden data-pens-price="30">
                                        <span class="button product-filter__button">Добавить ручки</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="SHAPE" value="Круг" data-shape-type="circle" hidden checked>
                                        <span class="button product-filter__button">
                                            <img src="./assets/images/icon-circle.svg" alt="">
                                        </span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="SHAPE" value="Квадрат" data-shape-type="rectangle" hidden>
                                        <span class="button product-filter__button">
                                            <img src="./assets/images/icon-rectangle.svg" alt="">
                                        </span>
                                    </label>
                                    <button class="button mob-hidden" type="submit" data-product-id="109800" data-fancybox data-src="#product">Оставить заявку</button>
                                </div>
                                <div class="product-filter__content">
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="1" hidden data-price-second="30" data-price="10" data-price-pens-circle="10" data-price-pens-round="20" data-volume-height="5" data-volume-width="105">
                                        <span class="product-filter__element">1 л</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="3" hidden checked data-price-second="50" data-price="30" data-price-pens-circle="20" data-price-pens-round="30" data-volume-height="10" data-volume-width="110">
                                        <span class="product-filter__element">3 л</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="5" hidden data-price-second="70" data-price="50" data-price-pens-circle="30" data-price-pens-round="40" data-volume-height="20" data-volume-width="120">
                                        <span class="product-filter__element">5 л</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="7" hidden data-price-second="90" data-price="70" data-price-pens-circle="40" data-price-pens-round="50" data-volume-height="40" data-volume-width="140">
                                        <span class="product-filter__element">7 л</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="10" hidden data-price-second="120" data-price="100" data-price-pens-circle="50" data-price-pens-round="60" data-volume-height="50" data-volume-width="150">
                                        <span class="product-filter__element">10 л</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="15" hidden data-price-second="170" data-price="150" data-price-pens-circle="60" data-price-pens-round="70" data-volume-height="60" data-volume-width="160">
                                        <span class="product-filter__element">15 л</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="20" hidden data-price-second="220" data-price="200" data-price-pens-circle="70" data-price-pens-round="80" data-volume-height="70" data-volume-width="170">
                                        <span class="product-filter__element">20 л</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="25" hidden data-price-second="270" data-price="250" data-price-pens-circle="80" data-price-pens-round="90" data-volume-height="80" data-volume-width="180">
                                        <span class="product-filter__element">25 л</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="35" hidden data-price-second="370" data-price="350" data-price-pens-circle="90" data-price-pens-round="100" data-volume-height="90" data-volume-width="190">
                                        <span class="product-filter__element">35 л</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="50" hidden data-price-second="520" data-price="500" data-price-pens-circle="100" data-price-pens-round="110" data-volume-height="100" data-volume-width="200">
                                        <span class="product-filter__element">50 л</span>
                                    </label>
                                    <label class="product-filter__label">
                                        <input type="radio" name="VOLUME" value="100" hidden data-price-second="1100" data-price="1000" data-price-pens-circle="110" data-price-pens-round="120" data-volume-height="120" data-volume-width="220">
                                        <span class="product-filter__element">100 л</span>
                                    </label>
                                </div>
                            </div>
                            <button class="button button--mobile-wide desktop-hidden" data-product-id="109800" data-fancybox data-src="#product">Оставить заявку</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="head mb-55 mbm-30">
                <div class="head__info">
                    <p class="subtitle">часто покупают</p>
                    <h2 class="title">Популярное</h2>
                </div>
            </div>
            <div class="slider slider--auto" data-slider data-slider-slides="4">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="article-product">
                                <div class="tag">
                                    <span>Новинка</span>
                                </div>
                                <picture class="article-product__picture">
                                    <img src="assets/images/product-1.png" alt="">
                                </picture>
                                <div class="article-product__content">
                                    <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                                    <div class="article-product__info">
                                        <p class="article-product__size">10x200 мм</p>
                                        <p class="article-product__value">10 л</p>
                                        <div class="price">
                                            <p class="price__text"><span>500</span> ₽/шт</p>
                                        </div>
                                    </div>
                                    <button class="button button--thin button--accent">подробнее</button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-product">
                                <div class="tag">
                                    <span>Новинка</span>
                                </div>
                                <picture class="article-product__picture">
                                    <img src="assets/images/product-2.png" alt="">
                                </picture>
                                <div class="article-product__content">
                                    <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                                    <div class="article-product__info">
                                        <p class="article-product__size">10x200 мм</p>
                                        <p class="article-product__value">10 л</p>
                                        <div class="price">
                                            <p class="price__text"><span>500</span> ₽/шт</p>
                                        </div>
                                    </div>
                                    <button class="button button--thin button--accent">подробнее</button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-product">
                                <div class="tag">
                                    <span>Новинка</span>
                                </div>
                                <picture class="article-product__picture">
                                    <img src="assets/images/product-3.png" alt="">
                                </picture>
                                <div class="article-product__content">
                                    <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                                    <div class="article-product__info">
                                        <p class="article-product__size">10x200 мм</p>
                                        <p class="article-product__value">10 л</p>
                                        <div class="price">
                                            <p class="price__text"><span>500</span> ₽/шт</p>
                                        </div>
                                    </div>
                                    <button class="button button--thin button--accent">подробнее</button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-product">
                                <div class="tag">
                                    <span>Новинка</span>
                                </div>
                                <picture class="article-product__picture">
                                    <img src="assets/images/product-1.png" alt="">
                                </picture>
                                <div class="article-product__content">
                                    <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                                    <div class="article-product__info">
                                        <p class="article-product__size">10x200 мм</p>
                                        <p class="article-product__value">10 л</p>
                                        <div class="price">
                                            <p class="price__text"><span>500</span> ₽/шт</p>
                                        </div>
                                    </div>
                                    <button class="button button--thin button--accent">подробнее</button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-product">
                                <div class="tag">
                                    <span>Новинка</span>
                                </div>
                                <picture class="article-product__picture">
                                    <img src="assets/images/product-1.png" alt="">
                                </picture>
                                <div class="article-product__content">
                                    <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                                    <div class="article-product__info">
                                        <p class="article-product__size">10x200 мм</p>
                                        <p class="article-product__value">10 л</p>
                                        <div class="price">
                                            <p class="price__text"><span>500</span> ₽/шт</p>
                                        </div>
                                    </div>
                                    <button class="button button--thin button--accent">подробнее</button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-product">
                                <div class="tag">
                                    <span>Новинка</span>
                                </div>
                                <picture class="article-product__picture">
                                    <img src="assets/images/product-1.png" alt="">
                                </picture>
                                <div class="article-product__content">
                                    <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                                    <div class="article-product__info">
                                        <p class="article-product__size">10x200 мм</p>
                                        <p class="article-product__value">10 л</p>
                                        <div class="price">
                                            <p class="price__text"><span>500</span> ₽/шт</p>
                                        </div>
                                    </div>
                                    <button class="button button--thin button--accent">подробнее</button>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-product">
                                <div class="tag">
                                    <span>Новинка</span>
                                </div>
                                <picture class="article-product__picture">
                                    <img src="assets/images/product-1.png" alt="">
                                </picture>
                                <div class="article-product__content">
                                    <p class="article-product__name">Мешок/гроубэг для посадки растений</p>
                                    <div class="article-product__info">
                                        <p class="article-product__size">10x200 мм</p>
                                        <p class="article-product__value">10 л</p>
                                        <div class="price">
                                            <p class="price__text"><span>500</span> ₽/шт</p>
                                        </div>
                                    </div>
                                    <button class="button button--thin button--accent">подробнее</button>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
</body>
</html>