<!DOCTYPE html>
<html lang="ru">
<head>
    <%= htmlWebpackPlugin.options.head %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="body">
    <%= htmlWebpackPlugin.options.sectionHeader %>
    <main class="main">
        <section class="section section--gradient pt-50 pb-40">
            <div class="container">
                <div class="page-header mb-40">
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs__list">
                            <li class="breadcrumbs__item">
                                <a href="#" class="breadcrumbs__link">Главная</a>
                            </li>
                            <li class="breadcrumbs__item">
                                <span class="breadcrumbs__link breadcrumbs__link--current">Услуги</span>
                            </li>
                        </ul>
                    </div>
                    <h1 class="title">Услуги</h1>
                    <img class="page-header__background" src="./assets/images/about-img.jpg" alt="">
                </div>
                <div class="columns">
                    <div class="columns__col--12">
                        <article class="article-service article-service--row">
                            <picture class="article-service__picture">
                                <img src="./assets/images/service-icon-1.svg" alt="">
                            </picture>
                            <h3 class="article-service__title">Проектирование</h3>
                            <p class="article-service__text">
                                Обновление сада, создание уютного дворика или разработка ландшафтного проекта для
                                коммерческой территории,
                            </p>
                        </article>
                    </div>
                    <div class="columns__col--12">
                        <article class="article-service article-service--row">
                            <picture class="article-service__picture">
                                <img src="./assets/images/service-icon-2.svg" alt="">
                            </picture>
                            <h3 class="article-service__title">Реализация проекта</h3>
                            <p class="article-service__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut et adipiscing ac
                                scelerisque vitae.
                            </p>
                        </article>
                    </div>
                    <div class="columns__col--12">
                        <article class="article-service article-service--row">
                            <picture class="article-service__picture">
                                <img src="./assets/images/service-icon-3.svg" alt="">
                            </picture>
                            <h3 class="article-service__title">Услуги садовника</h3>
                            <p class="article-service__text">
                                Персональный подход в уходе за вашим садом.
                            </p>
                        </article>
                    </div>
                    <div class="columns__col--12">
                        <article class="article-service article-service--row">
                            <picture class="article-service__picture">
                                <img src="./assets/images/service-icon-4.svg" alt="">
                            </picture>
                            <h3 class="article-service__title">Комнатное озеленение</h3>
                            <p class="article-service__text">
                                Если у вас нет возможности или желания самостоятельно ухаживать за растениями, то можно
                                воспользоваться нашими услугами по уходу за растениями.
                            </p>
                        </article>
                    </div>
                    <div class="columns__col--12">
                        <article class="article-service article-service--row">
                            <picture class="article-service__picture">
                                <img src="./assets/images/service-icon-5.svg" alt="">
                            </picture>
                            <h3 class="article-service__title">Обрезка плодовых деревьев</h3>
                            <p class="article-service__text">
                                Важный агротехнический прием, который помогает сохранить здоровье и урожайность деревьев.
                            </p>
                        </article>
                    </div>
                    <div class="columns__col--12">
                        <article class="article-service article-service--row">
                            <picture class="article-service__picture">
                                <img src="./assets/images/service-icon-6.svg" alt="">
                            </picture>
                            <h3 class="article-service__title">Топиарная стрижка</h3>
                            <p class="article-service__text">
                                Создание уникальных форм из растений, начиная от простых геометрических фигур, заканчивая
                                сложными формами в виде животных и различных объектов.
                            </p>
                        </article>
                    </div>
                    <div class="columns__col--12">
                        <article class="article-service article-service--row">
                            <picture class="article-service__picture">
                                <img src="./assets/images/service-icon-7.svg" alt="">
                            </picture>
                            <h3 class="article-service__title">Скарификация газона</h3>
                            <p class="article-service__text">
                                Процесс механического удаления отмершей травы, рыхления почвы и после процедуры по желанию
                                внесение удобрений.
                            </p>
                        </article>
                    </div>
                    <div class="columns__col--12">
                        <article class="article-service article-service--row">
                            <picture class="article-service__picture">
                                <img src="./assets/images/service-icon-8.svg" alt="">
                            </picture>
                            <h3 class="article-service__title">Интерьерное озеленение и фитодизайн</h3>
                            <p class="article-service__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut et adipiscing ac
                                scelerisque vitae.
                            </p>
                        </article>
                    </div>
                    <div class="columns__col--12">
                        <article class="article-service article-service--row">
                            <picture class="article-service__picture">
                                <img src="./assets/images/service-icon-9.svg" alt="">
                            </picture>
                            <h3 class="article-service__title">Консультационные услуги</h3>
                            <p class="article-service__text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut et adipiscing ac
                                scelerisque vitae.
                            </p>
                        </article>
                    </div>
                    <div class="columns__col--3">
                        <div class="features">
                            <article class="article-feature">
                                <picture class="article-feature__picture">
                                    <img src="./assets/images/icon-doc.svg" alt="">
                                </picture>
                                <p class="article-feature__text">
                                    Работаем по договору.
                                    Без выходных.
                                </p>
                            </article>
                            <article class="article-feature">
                                <picture class="article-feature__picture">
                                    <img src="./assets/images/icon-medal.svg" alt="">
                                </picture>
                                <p class="article-feature__text">
                                    Мы гарантируем качество выполненных работ и профессиональный сервис.
                                </p>
                            </article>
                            <article class="article-feature">
                                <picture class="article-feature__picture">
                                    <img src="./assets/images/icon-tree.svg" alt="">
                                </picture>
                                <p class="article-feature__text">
                                    Обращайтесь к нам,
                                    и ваш сад будет выглядеть великолепно!
                                </p>
                            </article>
                        </div>
                    </div>
                    <div class="columns__col--9">
                        <div class="form-block">
                            <div class="form-block__info">
                                <h3 class="form-block__title">
                                    Не нашли
                                    нужную услугу или есть вопросы?
                                </h3>
                                <p class="form-block__text">
                                    Заполните форму заявки и мы рассмотрим ваш запрос
                                </p>
                            </div>
                            <form class="form" action="#">
                                <fieldset class="form__wrapper">
                                    <label class="form__item">
                                        <input class="input input--form" type="text" placeholder="Введите имя">
                                        <span class="form__legend">Имя</span>
                                    </label>
                                    <label class="form__item">
                                        <input class="input input--form" type="text" placeholder="+7-000-000-00-00">
                                        <span class="form__legend">Телефон</span>
                                    </label>
                                </fieldset>
                                <fieldset class="form__wrapper">
                                    <label class="form__item">
                                        <textarea class="input input--form" placeholder="Введите ваш вопрос"></textarea>
                                        <span class="form__legend">Вопрос</span>
                                    </label>
                                </fieldset>
                                <div class="form__footer">
                                    <button class="button" type="submit">Отправить</button>
                                    <label class="form__accept">
                                        <input class="checkbox" type="checkbox">
                                        <span>
                                        Я согласен с правилами обработки персональных данных и ознакомлен с <a
                                                href="#" target="_blank">Политикой конфидециальности</a>
                                    </span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%= htmlWebpackPlugin.options.sectionFooter %>
    <%= htmlWebpackPlugin.options.temp %>
</body>
</html>