.burger {
  position: relative;
  display: block;
  width: 23px;
  height: 16px;
  overflow: hidden;

  &.active {
    .burger__item {
      top: -6px;
    }
    &::before {
      top: 6px;
      width: 23px;
      transform: rotate(-45deg);
    }
    &::after {
      top: 6px;
      width: 23px;
      transform: rotate(45deg);
    }
  }

  &__item {
    position: absolute;
    top: 6px;
    left: 0;
    display: flex;
    width: 23px;
    height: 3px;
    border-radius: 25px;
    background-color: $primary-accent;
    transition: .2s linear;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 23px;
    height: 3px;
    border-radius: 25px;
    background-color: $primary-accent;
    transition: .2s linear;
  }

  &::before {
    width: 12px;
    left: initial;
    right: 0;
  }

  &::after {
    top: 13px;
  }
}