.subtitle {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $primary-accent;

  @include r($mobile) {
    font-size: 10px;
    line-height: 10px;
  }

  &--default {
    letter-spacing: 0;
  }
}