.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;

    &:not(:first-child) {
      &::before {
        content: '-';
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $white;

        @include r($mobile) {
          font-size: 14px;
          line-height: 1;
          color: $primary;
        }
      }
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $white;
    transition: .2s linear;

    &:hover {
      opacity: .7;
    }

    &--current {
      &:hover {
        opacity: 1;
      }
    }

    @include r($mobile) {
      font-size: 14px;
      line-height: 1;
      color: $primary;
    }
  }

  &--single {
    .breadcrumbs__item {
        &::before {
          color: $primary;
        }
    }
    .breadcrumbs__link {
      color: $primary;
    }
  }
}